{% extends 'seller-header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
		.price-sale{
			display: block;
			color: black;
		}
	
	</style>
	<script src="https://js.stripe.com/v3/"></script>
  </head>
  <body class="goto-here">
		
    <!-- END nav -->

    <div class="hero-wrap hero-bread" style="background-image: url({% static 'images/bg_1.jpg' %});">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span> My Cart </span></p>
            <h1 class="mb-0 bread"> My Cart </h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section">
    	<div class="container">
    	
    		<div class="row">
				{% if orders %}
                {% for i in orders %}
    			<div class="col-md-6 col-lg-3 ftco-animate">
    				<div class="product">
    					<a href="#" class="img-prod"><img class="img-fluid" src="{{i.fruitage.fruitage_pic.url}}" style="width: 500px; height: 200px" alt="Colorlib Template">
    						
    						<div class="overlay"></div>
    					</a>
    					<div class="text py-3 pb-4 px-3 text-center">
    						<h3><a href="#">{{i.fruitage.fruitage_name}}</a></h3>
    						<div class="d-flex">
    							<div class="pricing">
		    						<p class="price" style="color:black">
										<span > Fruitage Weight: {{i.fruitage.fruitage_weight}}</span>
									    <span class="price-sale" style="color:black">Fruitage Price: {{i.fruitage.fruitage_price}}&#8377;</span>
								</p>
									<p class="price" style="color:black">
										<span >Total Price: {{i.total_price}}</span>
										<form action=" {% url 'change-qty' %} " name="change qty" method="post">
											{% csrf_token %}
											<input type="hidden" name="cid" value="{{i.pk}}">
                                            <span class="price-sale" style="color:black">
												Fruitage Qty: <input type="number" name="fruitage_qty" value="{{i.fruitage_qty}}" min="1" max="10"
												onchange="this.form.submit();" readonly>
											</span>
										</form>
										
									</p>
		    					</div>
								<!-- <div class="pricing">
		    						<p class="price"><span >Total Price: {{i.total_price}}</span><span class="price-sale">Fruitage Qty: {{i.fruitage_qty}}&#8377;</span></p>
		    					</div> -->
	    					</div>
	    					<div class="bottom-area d-flex px-3">
	    						<div class="m-auto d-flex">
	    							<a href="{% url 'product-details' pk=i.fruitage.pk%}" class="add-to-cart d-flex justify-content-center align-items-center text-center">
	    								<span><i class="ion-ios-menu"></i></span>
	    							</a>
	    							
    							</div>
    						</div>
    					</div>
    				</div>
    			</div>

                {% endfor %}
				{% else %}
				   <h1> No Products In Cart </h1>
    			{% endif %}
    		
    		</div>
			
    	</div>
    </section>

		<section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
      <div class="container py-4">
        <div class="row d-flex justify-content-center py-5">
          <div class="col-md-6">
          	<h2 style="font-size: 22px;" class="mb-0">Subcribe to our Newsletter</h2>
          	<span>Get e-mail updates about our latest shops and special offers</span>
          </div>
          <div class="col-md-6 d-flex align-items-center">
            <form action="#" class="subscribe-form">
              <div class="form-group d-flex">
                <input type="text" class="form-control" placeholder="Enter email address">
                <input type="submit" value="Subscribe" class="submit px-3">
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    
  </body>
</html>
{% endblock %}